* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 0px;
}

/* <!-- -------------------- Header Start -------------------- --> */

header {}

.bg-image {
    background: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.banner-heading {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    position: absolute;
    top: 250px;
    left: 1100px;
    padding-right: 230px;

}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    position: absolute;
    top: 500px;
    left: 1100px;
    padding-right: 230px;

}

.banner-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 20px 25px;
    background: #F15B22;
    border-radius: 5px;
    position: absolute;
    top: 600px;
    left: 1100px;

}

/* -- -------------------- Header End -------------------- -- */




/* -- -------------------- Main Start -------------------- -- */



/* -- -------------------- My failures of previous year Start -------------------- -- */

.my-failure {
    display: flex;

}

.failure-img {
    padding-top: 130px;
    padding-left: 206px;
    padding-bottom: 130px;
}

.failure-text {
    padding-top: 370px;
    padding-bottom: 214px;
    margin-left: 87px;


}

.failure-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    padding-right: 450px;
    margin-bottom: 24px;
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    padding-right: 322px;
    margin-bottom: 16px;
}

.failure-checkmark {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 8px;
    padding-right: 390px;
}

.fa-solid {
    color: #16D887;
}


/* -- -------------------- My failures of previous year End -------------------- -- */







/* -- -------------------- My Plans Start -------------------- -- */

.my-plan-container {
    display: flex;
    gap: 100px;
    justify-content: center;
    text-align: center;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 50px;
    margin-bottom: 130px;
}

.my-plan-heading {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    line-height: 47px;
    margin-top: 80px;
    margin-bottom: 16px;
}

.plan-sub-head {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    justify-content: center;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}



/* -- -------------------- My Plans End -------------------- -- */


/* -- -------------------- Why You Should Learn Web Development Start -------------------- -- */

.web {
    background-color: #EBF5FB;
}


.web-container {
    display: flex;

    padding-top: 100px;
    padding-bottom: 130px;
    margin-left: 230px;
    margin-right: 230px;
    gap: 100px;
}

.web-heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    padding-bottom: 20px;
}

.web-description {
    padding-right: 100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}



/* -- -------------------- Why You Should Learn Web Development Start -------------------- -- */





/* -- -------------------- Awlays keep a positive mindset Start -------------------- -- */

.always-keep {
    margin-top: 130px;
}

.always-container {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-left: 230px;
    margin-right: 230px;
    border-radius: 8px;
}

.always-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding-left: 64px;
    padding-top: 60px;

}

.always-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F15B22;
    padding: 20px 36px;
    background: #FFFFFF;
    border-radius: 5px;
}

.a-btn {
    padding-top: 24px;
    padding-left: 64px;
}

/* -- -------------------- Awlays keep a positive mindset End -------------------- -- */




/* -- -------------------- Footer Start -------------------- -- */

footer {
    background-color: #151414;
    color: #F8F8F8;
    margin-top: 100px;
}




.footer-container {
    display: flex;
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 130px;
    justify-content: space-around;

}

.future {
    padding-top: 50px;
}

.future-heading {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 16px;
}

.future-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 10px;
}

.icon {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}



.subscribe {
    padding-top: 80px;
}

.subs-heading {
    padding-bottom: 31px;
}

input {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 21px 158px 21px 21px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
    background: #151414;
    margin-bottom: 16px;

}

.subs-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #F15B22;
    padding: 20px 36px;
    background: #FFFFFF;
    border-radius: 8px;
}

/* -- -------------------- Footer End -------------------- -- */